<!DOCTYPE html>
<html layout:decorate="~{global/layout}">

<head>

</head>

<body>

<header layout:fragment="header">
    <div class="navbar bg-base-100">
        <div class="navbar-start">
            <div class="dropdown">
                <label class="btn btn-ghost btn-circle" tabindex="0">
                    <i class="fa-solid fa-bars"></i>
                </label>
                <ul class="menu menu-sm dropdown-content mt-3 z-[1] p-2 shadow bg-base-100 rounded-box w-52"
                    tabindex="0">
                    <li th:if="${@rq.admin}"><a href="/adm/home/main"><i class="fa-solid fa-gauge-high"></i> 관리자</a>
                    </li>
                    <li th:if="${@rq.logout}"><a href="/member/login"><i
                            class="fa-solid fa-arrow-right-to-bracket"></i> 로그인</a></li>
                    <li th:if="${@rq.logout}"><a href="/member/join"><i class="fa-solid fa-user-plus"></i> 회원가입</a>
                    </li>
                    <li th:if="${@rq.login}"><a href="/member/me"><i class="fa-solid fa-user"></i> 내 정보</a></li>
                    <li th:if="${@rq.login}">
                        <a href="/member/checkPassword?redirectUrl=/member/beCreator">
                            <i class="fa-brands fa-product-hunt"></i>
                            <span th:text="${@rq.creatorPageName}"></span>
                        </a>
                    </li>
                    <li th:if="${@rq.login}"><a href="/post/myList"><i class="fa-regular fa-file-lines"></i> 내 글</a>
                    </li>
                    <li><a href="/post/list"><i class="fa-regular fa-rectangle-list"></i> 글</a>
                    </li>
                    <li th:if="${@rq.creator}"><a href="/book/myList"><i class="fa-solid fa-book-open"></i> 내가 쓴 책</a>
                    </li>
                    <li th:if="${@rq.login}"><a href="/book/myList"><i class="fa-solid fa-pencil"></i> 내 책</a>

                    <li><a href="/book/list"><i class="fa-solid fa-book"></i> 책</a>
                    </li>
                    <li><a href="/article/notice1/list"><i class="fa-regular fa-flag"></i> 공지사항 게시판</a></li>
                    <li><a href="/article/free1/list"><i class="fa-solid fa-face-grin-tears"></i> 자유 게시판</a></li>
                    <li th:if="${@rq.login}">
                        <a href="/member/logout">
                            <i class="fa-solid fa-arrow-right-from-bracket"></i> 로그아웃
                        </a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="navbar-center">
            <a class="btn btn-ghost normal-case text-xl" href="/" th:text="${@appConfig.siteName}"></a>
        </div>
        <div class="navbar-end">
            <a class="btn btn-ghost btn-circle" href="/member/me" th:if="${@rq.login}">
                <img alt="" class="w-[30px] h-[30px] rounded-full object-cover"
                     th:src="${@rq.profileImgUrl}">
            </a>
            <button class="btn btn-ghost btn-circle" th:if="${@rq.login}">
                <div class="indicator">
                    <i class="fa-regular fa-bell"></i>
                    <span class="badge badge-xs badge-primary indicator-item"></span>
                </div>
            </button>
        </div>
    </div>
</header>

</body>

</html>