<html>
<head>

</head>
<body>
<th:block th:fragment="bookListItemCard(post)">
    <div class="card bg-base-100 shadow-xl">
        <div class="card-body">

            <div class="detail grid grid-cols-[repeat(auto-fit,minmax(100px,1fr))] gap-3">
                <a th:href="|/usr/book/detail/${book.id}?listUrl=${@rq.encodedCurrentUrl}|"
                   class="col-span-full bg-gray-700 rounded p-3 text-gray-100 flex items-center justify-center flex-wrap aspect-video">
                    <div class="flex flex-wrap gap-1">
                        <div class="flex gap-1">
                            <span>📘</span>
                            <span th:text="${book.subject}"></span>
                        </div>
                        <div class="flex-grow text-right text-gray-300 italic">
                            <span>by</span>
                            <span th:text="|${book.author.nickname}|"></span>
                        </div>
                    </div>
                </a>

                <div class="form-control">
                    <label class="label">
                        <span class="label-text">번호</span>
                    </label>
                    <div th:text="${book.id}"></div>
                </div>

                <div class="form-control">
                    <label class="label">
                        <span class="label-text">작성일</span>
                    </label>
                    <div th:text="${#temporals.format(book.createDate, 'yy.MM.dd')}"></div>
                </div>

                <div class="form-control">
                    <label class="label">
                        <span class="label-text">공개</span>
                    </label>
                    <div th:text="${book.publicHanName}"></div>
                </div>

                <div class="form-control">
                    <label class="label">
                        <span class="label-text">본문</span>
                    </label>
                    <a class="link" target="_blank" th:href="|/usr/post/listByKeyword/${book.postKeyword.id}|"
                       th:text="|#${book.postKeyword.content}(${book.postKeyword.total})|"></a>
                </div>

                <div class="form-control col-span-full">
                    <label class="label">
                        <span class="label-text">태그</span>
                    </label>
                    <div th:utext="${book.getTagLinks('<a class=`link` href=`%s`>#%s</a>', @rq.getSuitableListByTagPageBaseUrlByCurrentUrl('book') + '/%s')}"></div>
                </div>
            </div>
        </div>
    </div>
</th:block>
</body>
</html>