<html layout:decorate="~{common/layout}">

<head>
    <title th:text="|글 ${post.id}|"></title>
</head>

<body>

<div class="flex-1 mx-4" layout:fragment="content">

    <script>
        const isLiveMode = urlPathVariables.length >= 4 && urlPathVariables[3] == 'live';
    </script>

    <th:block th:replace="common/fragments :: toastuiEidtorLib"></th:block>

    <h1 class="font-bold" th:text="${post.subject}"></h1>

    <div class="mt-2"
         th:utext="${post.getTagLinks('<a class=`link` href=`%s`>#%s</a>', @rq.getSuitableListByTagPageBaseUrlByCurrentUrl('post') + '/%s')}"></div>

    <div th:if="${post.bodyHtmlForPrint.equals('')}" class="toast-ui-viewer">
        <script type="text/x-template" th:utext="${post.bodyForEditor.replace('$$ppt', '$$config')}"></script>
    </div>

    <th:block th:unless="${post.bodyHtmlForPrint.equals('')}">
        <div class="toastui-editor-contents"
             style="overflow-wrap: break-word;"
             th:utext="${post.bodyHtmlForPrint}">
        </div>

        <script th:inline="javascript">
            $('.toastui-editor-contents a').attr('target', '_blank');

            let Post__lastModified = /*[[${post.modifyDate}]]*/ null;

            function Post__loadLastestBody() {
                const postId = urlPathVariables[2];
                const url = '/usr/p/' + postId + '/body?lastModifyDate=' + Post__lastModified;

                fetch(url)
                    .then(function (response) {
                        return response.json();
                    })
                    .then(function (rs) {
                        if (rs.success) {
                            if (rs.msg) {
                                toastMsg(rs.success, rs.msg);
                            }

                            Post__lastModified = rs.data.modifyDate;
                            $('.toastui-editor-contents').html(rs.data.bodyHtml);
                            $('.toastui-editor-contents a').attr('target', '_blank');
                        }

                        setTimeout(Post__loadLastestBody, 7000);
                    });

                $.get(url, function (data) {
                    $('.toastui-editor-contents').html(data.body);
                }, 'json');
            }

            if (isLiveMode) {
                Post__loadLastestBody();
            }
        </script>
    </th:block>
</div>

</body>

</html>