<!DOCTYPE html>
<!-- lang="ko" : 한글이 안깨지도록 -->
<!--
th:with="UtThy=${T(com.ll.standard.util.Ut.thy)}"
UtThy 라는 이름으로 com.ll.standard.util.Ut.thy 를 타임리프에서 사용할 수 있도록 함
-->
<!-- data-theme="light" : 데이지 UI 테마를 light 로 고정 -->
<html
        lang="ko"
        th:with="UtThy=${T(com.ll.standard.util.Ut.thy)}"
        data-theme="light"
>
<head>
    <!-- 한글이 안깨지도록 -->
    <meta charset="UTF-8">
    <!-- 모바일 브라우저에서 화면이 축소되지 않도록 -->
    <meta content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0"
          name="viewport">
    <!-- IE 브라우저에서 최신 렌더링 엔진을 사용하도록 -->
    <meta content="ie=edge" http-equiv="X-UA-Compatible">

    <!-- 스프링 시큐리티 CSRF TOKEN, AJAX(POST) 요청 등에 이용된다. -->
    <meta name="_csrf" th:content="${_csrf.token}"/>
    <meta name="_csrf_header" th:content="${_csrf.headerName}"/>

    <!-- `콘텐트 타이틀 | 레이아웃 타이틀` 형태로 타이틀 구성 -->
    <title layout:title-pattern="$CONTENT_TITLE | $LAYOUT_TITLE" th:text="${@appConfig.siteName}"></title>

    <!-- jQuery -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>

    <!-- toastr -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/2.1.4/toastr.min.js"></script>
    <link href="https://jhs512.github.io/toastr/toastr.css" rel="stylesheet">

    <!-- 폰트어썸 -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css" rel="stylesheet">

    <!-- 단축키 라이브러리 -->
    <script src="https://unpkg.com/hotkeys-js/dist/hotkeys.min.js"></script>
</head>
<body>

<!-- 데이지 UI -->
<link href="https://cdn.jsdelivr.net/npm/daisyui@4.4.6/dist/full.min.css" rel="stylesheet" type="text/css"/>
<script src="https://cdn.tailwindcss.com"></script>

<!-- 사이트 리소스 -->
<link href="/resource/global/global.css" rel="stylesheet">
<script src="/resource/global/global.js"></script>

<script>
    let documentIsHidden = false;

    document.addEventListener("visibilitychange", function () {
        if (document.hidden) {
            documentIsHidden = true;
        } else {
            documentIsHidden = false;
        }
    });

    // 브라우저에 내장된 ctrl + s 의 기본작동을 막는다.
    // 에디터에서 사용하는 단축키와 겹치지 때문
    hotkeys('ctrl+s,cmd+s', function (event, handler) {
        event.preventDefault();
    });

    // 브라우저에 내장된 ctrl + q 의 기본작동을 막는다.
    // 에디터에서 사용하는 단축키와 겹치지 때문
    hotkeys('ctrl+q,cmd+q', function (event, handler) {
        event.preventDefault();
    });

    const urlParams = getUrlParams();
    const urlPathVariables = getUrlVariables();

    const isPostWritePage = urlPathVariables[0] === "post" && urlPathVariables[1] === "write";
    const isPostDetailPage = urlPathVariables[0] === "post" && urlPathVariables[1] === "detail";
    const isPostDetailMode2Page = urlPathVariables[0] === "p";
    const isPostDetailMode2LivePage = urlPathVariables[0] === "p" && urlPathVariables[2] === "live";
    const isPostModifyPage = urlPathVariables[0] === "post" && urlPathVariables[1] === "modify";
    const isPostModifyMode2Page = urlPathVariables[0] === "post" && urlPathVariables[1] === "modifyMode2";

    const postId = isPostDetailPage || isPostDetailMode2Page || isPostDetailMode2LivePage || isPostModifyPage || isPostModifyMode2Page ? getNThNumberOfArr(urlPathVariables, 1) : null;

    const postWritePageUrl = "/post/write";
    const postMyListPageUrl = "/post/myList";
    const postDetailPageUrl = "/post/detail/" + postId;
    const postDetailMode2PageUrl = "/p/" + postId;
    const postDetailMode2LivePageUrl = "/p/" + postId + "/live";
    const postModifyPageUrl = "/post/modify/" + postId;
    const postModifyMode2PageUrl = "/post/modifyMode2/" + postId;

    const goToPostWritePageUrl = () => location.href = postWritePageUrl;
    const goToPostMyListPageUrl = () => location.href = postMyListPageUrl;
    const goToPostDetailPageUrl = () => location.href = postDetailPageUrl;
    const goToPostDetailMode2PageUrl = () => location.href = postDetailMode2PageUrl;
    const goToPostDetailMode2LivePageUrl = () => location.href = postDetailMode2LivePageUrl;
    const goToPostModifyPageUrl = () => location.href = postModifyPageUrl;
    const goToPostModifyMode2PageUrl = () => location.href = postModifyMode2PageUrl;

    hotkeys.filter = function (event) {
        return true;
    }

    hotkeys('alt+shift+1,opt+shift+1', () => goToPostWritePageUrl());
    hotkeys('alt+shift+2,opt+shift+2', () => goToPostMyListPageUrl());

    if (postId) {
        hotkeys('alt+shift+3,opt+shift+3', () => goToPostDetailPageUrl());
        hotkeys('alt+shift+4,opt+shift+4', () => goToPostDetailMode2PageUrl());
        hotkeys('alt+shift+5,opt+shift+5', () => goToPostDetailMode2LivePageUrl());
        hotkeys('alt+shift+6,opt+shift+6', () => goToPostModifyPageUrl());
        hotkeys('alt+shift+7,opt+shift+7', () => goToPostModifyMode2PageUrl());
    }
</script>

<div class="min-h-[100dvh] flex flex-col">
    <header layout:fragment="header" class="sticky top-0 z-50 shadow-sm"></header>

    <main class="flex-1 flex flex-col py-4">
        <th:block layout:fragment="content" class="flex-1"></th:block>
    </main>
</div>

<script>
    console.log(urlParams);
    const msg = urlParams["msg"];

    // msg 파라미터의 값이 있으면 toastr로 알림을 표시
    if (msg) {
        toastNotice(decodeURIComponent(msg));
    }

    const failMsg = urlParams["failMsg"];

    // msg 파라미터의 값이 있으면 toastr로 알림을 표시
    if (failMsg) {
        toastWarning(decodeURIComponent(failMsg));
    }

    // history.back 에 의해서 돌아온 경우에 실행됨
    $(window).bind("pageshow", function (event) {
        if (localStorage.getItem("historyBackFailMsg")) {
            toastWarning(localStorage.getItem("historyBackFailMsg"));
            localStorage.removeItem("historyBackFailMsg");
        }
    });

</script>

</body>
</html>