<!DOCTYPE html>
<html>

<head>

</head>

<body>

<th:block th:fragment="articleListItemCard(article)">
    <div class="card bg-base-100 shadow-xl">
        <div class="card-body">

            <div class="detail grid grid-cols-[repeat(auto-fit,minmax(100px,1fr))] gap-3">
                <div class="form-control">
                    <label class="label">
                        <span class="label-text">게시물번호</span>
                    </label>
                    <div th:text="${article.id}"></div>
                </div>

                <div class="form-control">
                    <label class="label">
                        <span class="label-text">작성일</span>
                    </label>
                    <div th:text="${#temporals.format(article.createDate, 'yy.MM.dd')}"></div>
                </div>

                <div class="form-control">
                    <label class="label">
                        <span class="label-text">작성자</span>
                    </label>
                    <div th:text="${article.author.nickname}"></div>
                </div>

                <div class="form-control col-span-full">
                    <label class="label">
                        <span class="label-text">제목</span>
                    </label>
                    <a class="link truncate" th:href="|/usr/article/${article.board.code}/detail/${article.id}|"
                       th:text="${article.subject}"></a>
                </div>

                <div class="form-control col-span-full">
                    <label class="label">
                        <span class="label-text">태그</span>
                    </label>
                    <div th:utext="${article.getTagLinks('<a class=`link` href=`%s`>#%s</a>', '/usr/article/listByTag/%s')}"></div>
                </div>
            </div>
        </div>
    </div>
</th:block>

</body>
</html>